<html>
  <head>
      <title>YuCong's Blog</title>
  </head>
  <body>
    <div>
      <h1><a href="/">YuCong's Personal Blog</a></h1>
    </div>

    <div>
      <p>published on 17/2/2020, 1521</p>
      <h2><a href="">My First Post</a></h2>
      <p> How is it everyone? It is a good day today. Monday's weather is good and sunny. I love MONDAYS!!!</p>
    </div>

    <div>
      <p>published on 17/2/2020, 1525</p>
      <h2><a href="">My Second Post</a></h2>
      <p> This is my very second post! How is it going everyone? Hope to hear some comments from you guys. PEACE! =)</p>
    </div>

  </body>
</html>
